page-projets{
	.body{
		background-color: #F08A5D;
	}
	img{
		width: 100%;
		border-bottom: 1px solid black;
	}
	.projet{
		width: 95%;
		margin: 8px;
		border: 1px solid black;
		background-color: white;
	}
}